* {
    font-family: Microsoft YaHei
}

a {
    color: black
}

.bg1 {
    width: 100%;
    background-image: linear-gradient(to left top, #f4ff00, #ffcb35, #ff9a7c, #ff84be, #f08cec);
}

.bg2 {
    width: 100%;
    padding-bottom: 100px;
    background-image: linear-gradient(to left bottom, #f4ff00, #ffcb35, #ff9a7c, #ff84be, #f08cec);
}

.sec1 {
    width: 80%;
    margin: auto;
    padding-bottom: 100px
}


.intro {
    text-align: center;
    margin: 80px auto;
    width: 80%
}

.intro h1 {
    font-size: 40px;
    font-weight: 400;
}

.products {
    display: flex;
    justify-content: space-between;
}

.mdui-card {
    margin: 20px;
    width: 30%
}

.card-pic {
    background-size: cover;
    width: 100%;
    height: 300px
}

.gdp {
    background: url('https://i.loli.net/2020/02/14/bnlNw2DjBtgIcK8.png') center;
}

.odp {
    background: url('https://i.loli.net/2020/02/14/4IA5jgDKbT8iHSW.jpg') center;
}

.icp {
    background: url('https://i.loli.net/2020/02/14/dxn9RsQr5TAW463.jpg') center;
}

@media screen and (max-width: 1200px) {

    .bg1,
    .bg2,
    .bg3 {
        height: auto
    }

    .sec1,
    .qna,
    .sec3 {
        width: 100% !important;
    }

    .enroll {
        width: 95% !important;
    }

    .products {
        display: inline-block;
        width: 100%
    }

    .mdui-card {
        width: 80%;
        margin: 20px auto
    }

    form {
        padding: 40px 20px !important;
    }

    .theform {
        display: block !important;
        width: 100% !important;
    }

    .accountinfo,
    .checkout {
        width: 95% !important;
        margin: auto
    }

    .checkout {
        margin-top: 80px
    }

}

.sec2 {
    width: 80%;
    margin: auto;
    padding: 50px;
    background-color: white
}

.bg3 {
    width: 100%;
    background-image: linear-gradient(to left top, #f4ff00, #ffcb35, #ff9a7c, #ff84be, #f08cec);
}

.sec3 {
    width: 80%;
    margin: auto;
}

.enroll {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 300px
}

form {
    padding: 50px 50px 90px 50px;
    background-color: white
}

.theform {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto
}

.accountinfo,
.checkout {
    width: 45%
}

.checkout button {
    float: right;
    margin-top: 30px;
    margin-bottom: 60px
}

.mylist {
    padding-top: 20px
}

.mylist,
.mylist p {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.mylist i {
    color: #DD1B95
}

@media screen and (max-width: 400px) {
    .mylist i {
        display: none
    }
}

.theprice {
    font-size: 80px;
    font-weight: 300;
    color: #FC7C1C;
    text-shadow: 1px 1px #f08cec
}

.waitprice {
    display: none
}


@media screen and (max-width: 1700px) {
    .theprice {
        font-size: 60px
    }

}

@media screen and (max-width: 1500px) {
    .theprice {
        font-size: 50px
    }

}

.alipay {}
